<h1>TẠO ĐƠN THUỐC</h1>
<ol>
  <mat-divider></mat-divider>
  <li>
    <h2>THÔNG TIN BỆNH NHÂN</h2>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Bệnh nhân: {{ patient.name }}</mat-card-title>
        <mat-card-subtitle>{{ patient.birthday }} - {{ maxPatientBirthYear - patient.birthday }} tuổi</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <strong>Địa chỉ: </strong>{{ patient.address }}
        <!-- <p>
        </p> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <br>
    <mat-divider></mat-divider>
  </li>
  <li>
    <h2>Đơn thuốc</h2>
    <div *ngFor="let prescriptionForm of prescriptionForms; index as i;">
      <mat-card>
        <form [formGroup]="prescriptionForm" (ngSubmit)="prescriptionSubmit(prescriptionForm)">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div
              fxLayout="row"
              fxFlex="25"
              fxLayoutAlign="space-between stretch"
            >
              <mat-form-field appearance="outline" class="mr width100">
                <mat-label>Tên thuốc</mat-label>
                <input
                  matInput
                  placeholder="Tên thuốc"
                  formControlName="medicine"
                  autocomplete="off"
                  required
                />
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </div>
            <div
              fxLayout="row"
              fxFlex="15"
              class="mr"
              fxLayoutAlign="space-around center"
            >
              <mat-form-field fxFlex="50" appearance="outline">
                <mat-label>Số lượng</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="quantity"
                  placeholder="Số lượng"
                  autocomplete="off"
                  required
                />
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
              <mat-form-field fxFlex="50" class="mr" appearance="outline">
                <mat-label>Đơn vị</mat-label>
                <mat-select formControlName="typeMedicine">
                  <mat-option
                    *ngFor="let typeMedicine of typeMedicines"
                    [value]="typeMedicine"
                  >
                    {{ typeMedicine }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <section
              formGroupName="use"
              fxLayout="row"
              fxFlex="20"
              fxLayoutAlign="space-between center"
              class="mr"
            >
              <mat-checkbox formControlName="morning">Sáng</mat-checkbox>
              <mat-checkbox formControlName="afternoon1">Trưa</mat-checkbox>
              <mat-checkbox formControlName="afternoon2">Chiều</mat-checkbox>
              <mat-checkbox formControlName="everning">Tối</mat-checkbox>
            </section>
            <div
              fxLayout="row"
              fxFlex="25"
              fxLayoutAlign="start center"
              class="mr"
            >
              <button type="submit" mat-mini-fab color="primary">
                <mat-icon>done_outline</mat-icon>
              </button>
              <button (click)="remove(i)" type="reset" mat-mini-fab color="warn">
                <mat-icon>highlight_off</mat-icon>
              </button>
            </div>
            <div fxFlex></div>
          </div>
        </form>
      </mat-card>
    </div>
    <div>
      <button (click)="addMore()" type="reset" mat-mini-fab color="warn">
        <mat-icon>control_point</mat-icon>
      </button>
    </div>

  </li>
</ol>
