ul {
  list-style-type: none;
  padding: 50px 100px;

  .example-card {
    max-width: 400px;
    width: 400px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-elevation-z8 {
    width: 100%;
  }

  .mat-row:hover .mat-cell {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .highlight {
    text-decoration: underline;
  }

  h1, h2 {
    text-align: center;
  }

  li {
    a {
      color: slategray;
    }

    a:active {
      color: slategray;
    }

    .mr-2em {
      margin: 2em;
    }
  }

  .per-name {
    text-transform: capitalize;
  }
}
